.pagination
  margin-bottom: 120px

  li
    font-family: 'Lato', sans-serif
    display: inline-block
    width: 49%
    text-transform: uppercase

    &.next
      text-align: right

    span
      color: $dead_link_grey