<!-- Pagination links -->
<ul class="pagination">
  <li class='previous'>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="previous">&#9001;  Previous</a>
      {% else %}
        <a href="/page{{ paginator.previous_page }}" class="previous">&#9001;  Previous</a>
      {% endif %}
    {% else %}
      <span class="previous">&#9001;  Previous</span>
    {% endif %}
  </li>
  
  <li class='next'>
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next">Next  &#9002;</a>
    {% else %}
      <span class="next ">Next  &#9002;</span>
    {% endif %}
  </li>
</ul>