{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="pagination-link prev">&larr; Newer</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}/" class="pagination-link prev">&larr; Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-link prev disabled">&larr; Newer</span>
  {% endif %}

  <span class="pagination-info">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/" class="pagination-link next">Older &rarr;</a>
  {% else %}
    <span class="pagination-link next disabled">Older &rarr;</span>
  {% endif %}
</nav>
{% endif %}
