<nav class="pn-nav">
  {% if page.previous.url %}
  <a href="{{ page.previous.url }}">
    <div class="dir">&larr; Previous</div>
    <div class="pn-title">{{ page.previous.title }}</div>
  </a>
  {% else %}
  <a href="/">
    <div class="dir">&larr; Previous</div>
    <div class="pn-title">All posts</div>
  </a>
  {% endif %}
  {% if page.next.url %}
  <a href="{{ page.next.url }}" class="next">
    <div class="dir">Next &rarr;</div>
    <div class="pn-title">{{ page.next.title }}</div>
  </a>
  {% else %}
  <a href="/" class="next">
    <div class="dir">Next &rarr;</div>
    <div class="pn-title">All posts</div>
  </a>
  {% endif %}
</nav>
