{% include header.html %}
<section class="content">
  <article>
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <div class='meta'>
      <h4>{{ page.date | date: "%d/%m/%Y" }}, {{ page.content | reading_length }}</h4>
    </div>
    {{ content }}

    <div class="article-footer">
      <p>by <a href="https://plus.google.com/u/0/+PeteRoome/?rel=author" title="Pete on Google+">Pete Roome</a></p>
    </div>

    {% include comments.html %}
  </article>
</section>
{% include previous_next.html %}
{% include footer.html %}