{% include header.html %}
<section class="content">
  <article>
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <div class='meta'>
      <h4>{{ page.date | date: "%d/%m/%Y" }}, {{ page.content | reading_length }}</h4>
    </div>
    {{ content }}

    <div class="article-footer">
      <p>by <a href="https://plus.google.com/u/0/+PeteRoome/?rel=author" title="Pete on Google+">Pete Roome</a></p>      
      <p><small>Co-founder of <a href="http://upstate.io/?utm_source=peteroome&utm_medium=blog-post&utm_campaign=petes-blog" target="_blank">Upstate</a> and <a href="http://thefourohfive.com/?utm_source=peteroome&utm_medium=blog-post&utm_campaign=petes-blog" target="_blank">The 405</a>.</small></p>
      <p><small>Upstate projects: <a href="http://flipshop.io/download?utm_source=peteroome&utm_medium=blog-post&utm_campaign=petes-blog" title="Sisu - Your Exercise Data As Art" target="_blank">Flipshop</a> and <a href="http://madewithsisu.com?utm_source=peteroome&utm_medium=blog-post&utm_campaign=petes-blog" title="Sisu - Your Exercise Data As Art" target="_blank">Sisu</a>.</small></p>
    </div>

    {% include comments.html %}
  </article>
</section>
{% include previous_next.html %}
{% include footer.html %}